/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */


/* ======================================
Custom Color Palette
   ====================================== */

// Primary
$primary-50: #dff4f1;
$primary-300: #41bead;
$primary-400: #00af9b;

// Secondary
$secondary-500: #FFC20A;
$secondary-800: #ff9100;
$secondary-900: #ff7100;

// Blue
$blue-400: #44a9f8;
$blue-50: #e3f3fd;

// Grey
$grey-50: #f8f8f8;
$grey-100: #f1f1f1;
$grey-200: #E6E6E6;
$grey-500: #919191;
$grey-600: #676781;
$grey-700: #565656;

// Violet
$violet-500: #9a5dc6;

//Withe
$backgroud-withe: #FFFFFF;
