.c-main-title {
    display: flex;
    min-height: 302px;
    background-color: $blue-400;
    color: $backgroud-withe;

    .o-page-wrapper {
        display: flex;
        flex-flow: column wrap;
        text-transform: uppercase;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;

        .c-main-title__label {
            display: flex;
            justify-content: center;
            align-content: center;
            width: fit-content;
            font-size: 12px;
            background-color: $secondary-500;
            padding: 8px 4px;
            min-width: 89px;
            min-height: 22px;
            text-align: center;
            border-radius: 4px;
            @include BoxShadow(1);
            p {
                margin: 0;
                padding: 0;
                font-size: 12px;
                line-height: 14px;
            }
        }
        .c-main-title__heading {
            text-align: center;
            text-transform: none;
        }
    }
}

.c-main-info {
    &__card--dotted-dorder-primary-100 {
        border-bottom: 10px dotted $secondary-100;
    }

    a {
        color: $secondary-800;
        font-size: 16px;
        line-height: 20px;
    }
}

.c-main-program {
    background-color: $secondary-400;
    min-height: 554px;
    color: $grey-700;
    padding: 64px 0;
    // border-bottom: 10px dotted $backgroud-withe;
    // @include BoxShadow(3);
    &--top-boreder {
        display: flex;
        position: relative;
        top: -68px;
        border-top: 10px dotted $backgroud-withe;
        height: 10px;
    }
    &--bottom-boreder {
        display: flex;
        position: relative;
        bottom: -81px;
        border-bottom: 10px dotted $backgroud-withe;
        height: 10px;
    }
    &--bottom-boreder-shadow {
        display: flex;
        position: relative;
        bottom: -64px;
        border-bottom: 10px dotted $backgroud-withe;
        height: 10px;
        @include BoxShadow(2);
        z-index: -1;
    }

    .o-page-wrapper {
        margin: 0;
    }

    select {
        border: 1px solid $secondary-400;
        border-radius: 6px;
        padding: 14px 56px 16px 14px;
        width: 100%;
        min-width: 100%;
        margin: 16px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
            cursor: pointer;
        }

        &__caption {
            font-size: 18px;
            font-weight: 800;
        }
    }
}
