.c-main-title {
    display: flex;
    min-height: 302px;
    background-color: $blue-400;
    color: $backgroud-withe;

    .o-page-wrapper {
        display: flex;
        flex-flow: column wrap;
        text-transform: uppercase;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;

        .c-main-title__label {
            display: flex;
            justify-content: center;
            align-content: center;
            width: fit-content;
            font-size: 12px;
            background-color: $secondary-500;
            padding: 8px 4px;
            min-width: 89px;
            min-height: 22px;
            text-align: center;
            border-radius: 4px;
            @include BoxShadow(1);
            p {
                margin: 0;
                padding: 0;
                font-size: 12px;
                line-height: 14px;
            }
        }
        .c-main-title__heading {
            text-align: center;
            text-transform: none;
        }
    }
}
