.c-footer {
    display: block;
    background-color: $grey-700;
    min-height: 300px;
    padding-top: 20px;
    border-top: 12px solid $grey-500;
    position: relative;

    .o-page-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "one three"
            "two three"
            "four four";
        width: 100%;
    }
}

.c-footer-navbar-comtainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0;
    width: 100%;
}

.c-footer-navbar-element {
    display: flex;
    flex-flow: column wrap;
    background-color: transparent;
    margin-top: 32px;

    .h5-likes {
        color: white;
        margin: 0;
        padding-bottom: 10px;
        white-space: nowrap;
    }

    &--info-wrapper {
        border-top: 1px solid $grey-600;
        margin: 32px 20px;
    }

    &--desctop {
        display: none;
    }

    .c-footer-navbar__items {
        display: flex;
        flex-flow: column wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        text-decoration: none;

        .c-footer-navbar__item-content {
            padding: 6px 0;
            a {
                text-decoration: none;
                color: $grey-200;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;

                &:hover {
                    color: $primary-300;
                }
            }
        }
    }

    .c-footer-navbar-element__find-us {
        margin-bottom: 8px;
    }

    .c-footer-navbar-element__social-wrapper {
        display: flex;
        flex-flow: row wrap;

        .c-footer-navbar__social-icon {
            margin-right: 24px;
            a {
                text-decoration: none;
                color: $grey-200;
                font-size: 20px;
                line-height: 20px;

                &:hover {
                    color: $primary-300;
                }
            }
        }
    }

    .c-footer-navbar-element__social-wrapper--mobile {
        display: flex;
        flex-flow: row wrap;
        padding-top: 20px;;

        .c-footer-navbar__social-icon {
            margin-right: 24px;
            a {
                text-decoration: none;
                color: $grey-200;
                font-size: 20px;
                line-height: 20px;

                &:hover {
                    color: $primary-300;
                }
            }
        }
    }

    .c-footer-navbar-element__company-info {
        display: flex;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        max-width: 335px;

        p {
            font-size: 16px;
            line-height: 19px;
            color: $grey-500;
        }
    }
}

.c-footer-section {
    &__one {
        grid-area: one;
    }
    &__two {
        grid-area: two;
    }
    &__three {
        grid-area: three;
    }
    &__four {
        grid-area: four;
    }
}
