.c-navigation {
    position: relative;

    &__hidden-menu {
        visibility: hidden;
        &--show {
            visibility: visible;
        }
    }

    &__header {
        display: block;
        position: absolute;
        top: 55px;
        padding: 35px 20px;
        left: 1em;
        width: 100vw;
        background-color: $grey-50;
        @include BoxShadow(3);
        &:hover {
            background-color: $grey-50;
        }
    }

    &__item {
        list-style: none;
        padding: 5px;
        a {
            text-decoration: none;
            color: $grey-700;
            text-transform: uppercase;
            font-size: 13px;
            &:hover {
                color: $secondary-800;
                cursor: pointer;
            }
        }
    }

    &__sadwich-menu {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-self: end;
        column-gap: 24px;
    }
}
