.c-main-introduction {
    .o-page-wrapper {
        display: inherit;
    }
    &__text {
        display: flex;
        flex-flow: row wrap;
        margin: 0 auto;
    }

    &__video {
        display: flex;
        background-image: url(../../assets/images/video-clip.svg);
        content: "";
        background-repeat: no-repeat;
        background-size: auto;
        border-radius: 12px;
        min-width: 350px;
        max-width: 440px;
        width: 100%;
        min-height: 190px;
        max-height: 248px;
        height: 100%;
        @include BoxShadow(cust-01);
    }
}

.c-main-info,
.c-main-program {
    .o-page-wrapper {
        display: inherit;
        margin: 40px auto;
    }

    &__card {
        padding: 32px 0;
        &-header {
            display: flex;
            margin: 0 auto;

            h2 {
                margin: 0;
            }
            &--logo {
                display: flex;
                align-self: start;
                margin-right: 18px;

                .logo-group {
                    display: flex;
                    flex-flow: column wrap;
                    align-self: start;
                    margin-right: 18px;
                }
            }
        }
        &-body {
            display: flex;
            flex-flow: row wrap;
            margin: 0 auto;
        }
    }
}

.c-separator {
   display: flex;
   position: relative;
   z-index: 1;

    &--primary {
        display: grid;
        grid-row: 1fr;
        border-bottom: 10px dotted $primary-50;
        height: 10px;
        width: 100%;
    }
}
